html 
    title Movie Rentals

    style 
        include ../public/home.css

    script
        include ../public/home.js

    body
        h1=message
        if isLoggedIn
            button#logoutBtn(style="display:inline") Logout 
            //- button#loginBtn(style="display:none") Log In
        else
            //- button#logoutBtn(style="display:none") Logout 
            button#loginBtn(style="display:inline") Log In
        //- button#logoutBtn() Logout 
        //- button#loginBtn() Log In

        if isAdmin
            button#adminBtn Admin Page    
        #allMovies
            each movie in all_movies
                if movie.inventory.available > 0
                    .Movie(id=movie._id)
                        .displayMovie
                            h1=movie.title
                            h3=movie.release
                            img(src=movie.img,alt=`${movie.title} IMG`)
                            a(href=movie.link)=`${movie.title} Wiki Page`
                        .editMovie
                            -const currentYear = new Date().getFullYear();
                            form
                                input(type="text",placeholder="Enter a Movie Title",name="title")
                                input(type="number",placeholder="Release Year",name="release",min=currentYear-100,max=currentYear+2)
                                input(type="url",placeholder="Wiki Link",name="link")
                                input(type="url",placeholder="Wiki IMG url",name="img")
                                button(type="button").submitEdit Submit Movie Edit
                        if isAdmin
                            .adminBtns
                                button.deleteMovie Delete Movie from DB
                                button.editMovieBtn Edit Movie in DB
                        if isLoggedIn
                            //- * button.getMovie Get More DB Info
                            //- 1 NewButton: add a new button for return -> display to user status of renting
                            //- 1.5 : ONLY the button needed is shown
                            //- 2: modify current button to serve both purposes (backend modification possibly)
                            button.returnBtn Return Movie
                            button.rentBtn Rent Movie
                        else
                            button.nonUserBtn Sign In to Rent Movies
 


