html 
    title Movie Rentals

    style 
        include ../public/home.css

    script
        include ../public/home.js

    body
        h1=message

        button#loginBtn() Log In
        button#logoutBtn() Logout

        #allMovies
            each movie in all_movies
                if movie.inventory.available > 0
                    .Movie(id=movie._id)
                        .displayMovie
                            h1=movie.title
                            h3=movie.release
                            img(src=movie.img,alt=`${movie.title} IMG`)
                            a(href=movie.link)=`${movie.title} Wiki Page`
                            button.getMovie Get More DB Info
                            button.rentMovie Rent Movie
                        .editMovie
                            -const currentYear = new Date().getFullYear();
                            form
                                input(type="text",placeholder="Enter a Movie Title",name="title")
                                input(type="number",placeholder="Release Year",name="release",min=currentYear-100,max=currentYear+2)
                                input(type="url",placeholder="Wiki Link",name="link")
                                input(type="url",placeholder="Wiki IMG url",name="img")
                                button(type="button").submitEdit Submit Movie Edits
                           
                        .adminBtns
                            button.deleteMovie Delete Movie from DB
                            button.editMovieBtn Edit Movie in DB
 


