html
    title Graphic Cards

    style
        include ../static/style.css

    script
        include ../static/static.js

    body
        h1=message

        button#postGPU Post A GPU

        .allGPUS
            each card in entries
             .GPU(id=card._id)
                h1="Brand: " + card.brand
                h2="Model Scheme: " + card.prefix + card.generation + card.perfTier + card.suffix
                h2="Architecture/Code Name: "+card.codeName
                h1="MSRP:$ "+card.msrp
                img(src=card.img,alt=`${card.brand}${card.generation}${card.name} IMG`)
                button.deleteGPU Delete GPU
                button.patchGPU Edit GPU 

        
        